@model ECM_ExcellentWeb.Models.VM.PurchaseOrderCreateVM


@{
    ViewBag.Title = "Create2";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<br />
<div class="container">
    <div class="master">
        <h2>Purchase Order</h2>
        <table class="table table-responsive">
            <tr>
                <td>Company</td>
                <td>
                    <select id="ddlCompany" name="ddlCompany" class="form-control" asp-items="@Model.CompanyList">
                        <option>Select</option>
                    </select>
                    <span class="error">Select Company</span>
                </td>
                <td>Supplier</td>
                <td>
                    <select id="ddlSupplier" name="ddlSupplier" class="form-control">
                        <option>Select</option>
                    </select>
                    <span class="error">Select Supplier</span>

                </td>
                <td>Date</td>
                <td colspan="3">
                    <input type="text" id="podate" name="podate" class="form-control">
                    <span class="error">Enter Purchase Order Date</span>
                </td>
                <td>Invoice No</td>
                <td colspan="3">
                    <input type="text" id="Purchae_Invoice_No" name="Purchae_Invoice_No" class="form-control" placeholder="VS123">
                    <span class="error">Enter Invoice No</span>
                </td>
            </tr>
            <tr>
            </tr>

            <tr>
            </tr>

        </table>
    </div>

    <div class="Productdetails">
        <h2>
            Product Details
        </h2>
        <table class="table table-responsive">

            <tr class="mycontainer" id="mainrow">
                <td>
                    Qty/Unit:<br>
                    <input type="text" id="QtyPerUnit" readonly="readonly" name="QtyPerUnit" class="form-control">

                </td>
                <td>
                    Package Size<br>
                    <input id="PackageSize" type="text" name="PackageSize" readonly="readonly" class="form-control">

                </td>
                <td>
                </td>
                <td>
                    MRP Price:<br>
                    <input type="text" id="MRPPrice" readonly="readonly" name="MRPPrice" class="form-control">

                </td>

                <td>
                    Retail Price:<br>
                    <input type="text" id="RetailerPrice" readonly="readonly" name="RetailerPrice" class="form-control">

                </td>
            </tr>
        </table>


    </div>

    <div class="details">
        <h2>
            Order items
        </h2>
        <table class="table table-responsive">
            <tr>
                <td>Product</td>
                <td>Rate</td>
                <td>Qty</td>

                <td>Discount</td>
                <td>SGst</td>
                <td>CGst</td>
                <td>MfgDate</td>

            </tr>
            <tr class="mycontainer" id="mainrow2">
                <td>
                    <select id="ddlProductId" name="ddlProductId" class="ddlProductId form-control">
                        <option>Select</option>
                    </select>
                    <span class="error">Select Product</span>
                </td>
                <td>
                    <input type="text" id="Rate" name="Rate" class="Rate form-control">
                    <span class="error">Valid rate required</span>
                </td>
                <td>
                    <input type="text" id="qty" name="qty" class="qty form-control">
                    <span class="error">Valid quantity required</span>
                </td>

                <td>
                    <input type="text" id="discount" name="discount" value="0.00" class="discount form-control">
                </td>

                <td>
                    <input type="text" id="SGst" name="SGst" value="9" class="SGst form-control">
                </td>
                <br />

                <td>
                    <input type="text" id="CGst" name="CGst" value="9" class="CGst form-control">
                </td>

                <td>
                    <input type="text" id="MfgDate" name="MfgDate" class="MfgDate form-control" placeholder="mm-dd-yyyy">
                    <span class="error">Valid order date required (ex: MM-dd-yyyy)</span>
                </td>



                <td>
                    <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                </td>
            </tr>
        </table>
        <div id="orderItems">
            <table class="table table-responsive" id="orderdetailsItems"></table>
            <span id="orderItemError" style="color:red"></span>
        </div>
        <div style="padding:10px 0; text-align:right">
            <input id="submit" type="button" value="Save Order" class="btn btn-warning" style="padding:10px 20px" />
        </div>
    </div>
</div>



<script type="text/javascript">

    var Companies = []
    $(document).ready(function () {
        //alert('Create View');
        var fullDate = new Date()
        //console.log(fullDate);
        //Thu May 19 2011 17:25:38 GMT+1000 {}

        //convert month to 2 digits
        var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : + (fullDate.getMonth() + 1);

        var currentDate = fullDate.getFullYear() + "/" + twoDigitMonth + "/" + fullDate.getDate();

        $("#podate").val(currentDate);

        LoadCompanies()
        $("#ddlCompany").change(function (cid) {

            company_id = $("#ddlCompany").val();
            alert('company_id' + company_id)
            GetSuppliers(company_id);

        });

        $("#ddlSupplier").change(function (pid) {

            pid = $("#ddlSupplier").val();
            //alert('pid change' + pid)
            GetProductList(pid);
        });

        $("#ddlProductId").change(function (pid) {

            pid = $("#ddlProductId").val();
            //alert('pid change' + pid)
            GetProductDetails(pid);
        });

        //6. btnadd
        $("#add").click(function (e) {
            // alert('btn add' + $('#ddlProductId').val());
            //validation and add order items
            var isAllValid = true;
            // alert('AddItems'+isAllValid)
            //if ($('#productCategory').val() == "0") {
            //    isAllValid = false;
            //    $('#productCategory').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#productCategory').siblings('span.error').css('visibility', 'hidden');
            //}

            if ($('#ddlProductId').val() == "Select") {
                //console.log('dp');
                //alert('ddlProductId ');
                isAllValid = false;
                $('#ddlProductId').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#ddlProductId').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#Rate').val().trim() != '' && (parseFloat($('#Rate').val()) || 0))) {
                isAllValid = false;
                $('#Rate').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Rate').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#qty').val().trim() != '' && (parseInt($('#qty').val()) || 0))) {

                isAllValid = false;
                $('#qty').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#qty').siblings('span.error').css('visibility', 'hidden');
            }
            if (($('#MfgDate').val().trim() == '')) {

                isAllValid = false;
                $('#MfgDate').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#MfgDate').siblings('span.error').css('visibility', 'hidden');
            }

            // e.preventDefault();
            // AddItems();
            if (isAllValid) {
                alert('isAllValid true');
                var $newRow = $('#mainrow2').clone().removeAttr('id');
                $('.ddlProductId', $newRow).val($('#ddlProductId').val());

                //Replace add button with remove button
                $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');

                //remove id attribute from new clone row
                $('#ddlProductId,#Rate,#qty,#discount,#SGst,#CGst,#MfgDate,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();
                //append clone row
                $('#orderdetailsItems').append($newRow);

                //clear select data
                $('#ddlProductId').val('Select');
                $('#Rate').val('');
                $('#qty').val('');
                // $('#qty,#rate,#discount,#SGst,#CGst,#MfgDate').val('');
                //   $('#rate').val('');
                $('#discount').val('0');
                $('#SGst').val('9');
                $('#CGst').val('9');
                $('#MfgDate').val('');

                $('#orderItemError').empty();
            }
        });

        $('#submit').click(function () {
            //validate order items
            var list = [];
            var isAllValid = true;
            $('#orderdetailsItems tbody tr').each(function (index, ele) {
                alert('select.ddlProductId' + $('select.ddlProductId', this).val());
                //alert('.qty' + parseInt($('.qty', this).val()));
                //alert('.Rate' + parseFloat($('.Rate',this).val() || 0));
                //alert('.Discount' + parseInt($('.discount', this).val()));
                //alert('select.SGst' + parseInt($('.SGst', this).val()));
                //alert('select.CGste' + String($('.CGst', this).val()));
                //alert('select.MfgDate' + String($('.MfgDate', this).val()));


                var productitem = {};
                productitem.ProductId = $('select.ddlProductId', this).val();
                productitem.PodUnitPrice = parseFloat($('.Rate', this).val() || 0);
                productitem.PodQty = parseInt($('.qty', this).val());
                productitem.PodDiscount = parseInt($('.discount', this).val());
                productitem.PodSGst = parseInt($('.SGst', this).val());
                productitem.PodCGst = parseInt($('.CGst', this).val());
                productitem.PodMfgDate = String($('.MfgDate', this).val());

                //alert('productitem' + productitem);

                //var orderItem = {
                //    ProductID: $('#ddlProductId', this).val(),
                //    Quantity: parseInt($('.qty', this).val()),
                //    Rate: parseFloat($('.Rate', this).val())
                //}
                list.push(productitem);
            });

            //if (errorItemCount > 0) {
            //    $('#orderItemError').text(errorItemCount + " invalid entry in order item list.");
            //    isAllValid = false;
            //}

            if (list.length == 0) {
                $('#orderItemError').text('At least 1 order item required.');
                isAllValid = false;
            }

            if ($('#ddlCompany').val().trim() == 'Select') {
                $('#ddlCompany').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#ddlCompany').siblings('span.error').css('visibility', 'hidden');
            }


            if ($('#ddlSupplier').val().trim() == 'Select') {
                $('#ddlSupplier').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#ddlSupplier').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#podate').val().trim() == '') {
                $('#podate').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#podate').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#Purchae_Invoice_No').val().trim() == '') {
                $('#Purchae_Invoice_No').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#Purchae_Invoice_No').siblings('span.error').css('visibility', 'hidden');
            }

            if (isAllValid) {

                var data = {
                    company_id: $('#ddlCompany').val().trim(),
                    podate: $('#podate').val().trim(),
                    sid: $('#ddlSupplier').val().trim(),
                    Purchae_Invoice_No: $('#Purchae_Invoice_No').val().trim(),
                    purchase_order_details: list
                }

                $(this).val('Please wait...');

                $.ajax({
                    type: 'POST',
                    url: '/PurchaseOrder/SavePurchased_Products',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (data) {
                        console.log('data:' + data);
                        //if (data.status) {
                        alert('Successfully saved');
                        //    //here we will clear the form
                        list = [];
                        $('#ddlCompany').val('Select');
                        $('#ddlSupplier').val('Select');
                        $('#Purchae_Invoice_No').val('');
                        $('#orderdetailsItems').empty();
                        //}
                        //else {
                        //    alert('Error');
                        //}
                        $('#submit').val('Save');
                        console.log('sucess');
                    },
                    error: function (error) {

                        console.log('error' + error);
                        $('#submit').val('Save');
                    }
                });
            }


        });
    });

    //fetch companies from database
    function LoadCompanies() {
        //alert('LoadCompanies');
        var ddlCompany = $("#ddlCompany");
        //  ddlsids.empty().append('<option selected="selected" value="0" >Loading.....</option>');
        $.ajax({
            // async: true,
            type: "GET",
            url: '/Company/Get_Companies',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: '{}',
            success: function (response) {
                if (response.length > 0) {
                    $('#ddlCompany').html('');
                    var options = '';
                    options += '<option value="Select">Select</option>';
                    for (var i = 0; i < response.length; i++) {
                        console.log(response)
                        options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                    }
                    $('#ddlCompany').append(options);
                }

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    }

    function GetSuppliers(company_id) {
        // 2-1 get all suppliers.
        alert('In GetSuppliers fun '+ company_id);
        var obj = { stateId: company_id };
        $.ajax({
            // async: true,
            type: "GET",
            url: '/Supplier/GetSuppliersByCompanyID',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: JSON.stringify(obj),
            success: function (response) {
                if (response.length > 0) {
                    $('#ddlSupplier').html('');
                    var options = '';
                    options += '<option value="Select">Select</option>';
                    for (var i = 0; i < response.length; i++) {
                        console.log(response)
                        options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                    }
                    $('#ddlSupplier').append(options);
                }



            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });


    }



    function GetProductList(company_id) {
        // 2 get all product on change of Company.

        // var product = $('#pids').val();
        //alert('In GetProductList fun ' + company_id);
        var obj = { supplierid: company_id };
        $.ajax({
            // async: true,
            type: "POST",
            url: '/Product/GetProductsBySupplerID',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: JSON.stringify(obj),
            success: function (response) {
                if (response.length > 0) {
                    $('#ddlProductId').html('');
                    var options = '';
                    options += '<option value="Select">Select</option>';
                    for (var i = 0; i < response.length; i++) {
                        console.log(response)
                        options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                    }
                    $('#ddlProductId').append(options);
                }



            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });



    }

    function GetProductDetails(productid) {
        //3. get GetProductDetails details using productid
        //alert('GetProductDetails' + productid);
        $.ajax({
            //async: true,
            type: "GET",
            url: '/Product/Get_ProductDetails',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: {
                productid: productid
            },
            success: function (data) {
                //alert('suceess');
                console.log('before ' + data);
                data = JSON.parse(data);
                console.log('after::' + data);
                //console.log('Qty' + data.QtyPerUnit);

                $("#MRPPrice").val(data.Product.MRPPrice);
                $("#PackageSize").val(data.Product.PackageSize);
                $("#QtyPerUnit").val(data.Product.QtyPerUnit);
                $("#RetailerPrice").val(data.Product.RetailerPrice);
            },
            error: function () {
                // console.error(err);//
                alert('e4');//
                //debugger;
            }
        }).done(function (data) {
            console.log('success444 drop dow creted: ');
        }).fail(function (response) {
            console.log('Error4: ' + response);
        });
    }
    function AddItems() {

        if (isAllValid) {
            var $newRow = $('#mainrow2').clone().removeAttr('id');

            $('.pc', $newRow).val($('#ddlProductId').val());

            //Replace add button with remove button
            $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');

            //remove id attribute from new clone row
            $('#ddlProductId,#qty,#Rate,#discount,#SGst,#CGst,#MfgDate,#add', $newRow).removeAttr('id');
            $('span.error', $newRow).remove();
            //append clone row
            $('#orderdetailsItems').append($newRow);

            //clear select data
            $('#ddlProductId,#Rate').val('');
            $('#qty').val('');
            // $('#qty,#rate,#discount,#SGst,#CGst,#MfgDate').val('');
            //   $('#rate').val('');
            $('#discount').val('0');
            $('#SGst').val('9');
            $('#CGste').val('9');
            $('#MfgDate').val('');

            $('#orderItemError').empty();

        }
    }



    //remove button click event
    $('#orderdetailsItems').on('click', '.remove', function () {
        $(this).parents('tr').remove();
    });

</script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>
<script src="~/Scripts/PurchaseMasterDetail.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>