@model ECM_ExcellentWeb.Models.VM.PurchaseOrderDetailUpdateVM

<form asp-action="UpdatePurchaseOrderDetail">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update Purchase Order Detail</h1>
        <hr />
        <input hidden asp-for="PurchaseOrderDetail.Id" />

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="PurchaseOrderDetail.Id" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="PurchaseOrderDetail.Id" class="form-control" />
                <span asp-validation-for="PurchaseOrderDetail.Id" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PurchaseOrderDetail.PurchaseId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="PurchaseOrderDetail.PurchaseId" class="form-control" />
                <span asp-validation-for="PurchaseOrderDetail.PurchaseId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PurchaseOrderDetail.ProductId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <select asp-for="PurchaseOrderDetail.ProductId" class="form-select" asp-items="@Model.ProductList">
                    <option disabled selecte>--Select Product--</option>
                </select>
                <span asp-validation-for="PurchaseOrderDetail.ProductId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PurchaseOrderDetail.PodQty" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="PurchaseOrderDetail.PodQty" class="form-control" />
                <span asp-validation-for="PurchaseOrderDetail.PodQty" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PurchaseOrderDetail.PodUnitPrice" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="PurchaseOrderDetail.PodUnitPrice" class="form-control" rows="5" />
                <span asp-validation-for="PurchaseOrderDetail.PodUnitPrice" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PurchaseOrderDetail.PodTotalPrice" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="PurchaseOrderDetail.PodTotalPrice" class="form-control" />
                <span asp-validation-for="PurchaseOrderDetail.PodTotalPrice" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PurchaseOrderDetail.PodDiscount" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="PurchaseOrderDetail.PodDiscount" class="form-control" />
                <span asp-validation-for="PurchaseOrderDetail.PodDiscount" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexPurchaseOrderDetail" asp-controller="PurchaseOrderDetail" class="btn-primary btn form-control">Back To List</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Update" class="btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

