@model ECM_ExcellentWeb.Models.VM.CategoryTypeCreateVM

<form asp-action="CreateCategoryType">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create CategoryType</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="CategoryType.Id" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="CategoryType.Id" class="form-control" />
                <span asp-validation-for="CategoryType.Id" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="CategoryType.CategoryId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <select asp-for="CategoryType.CategoryId" class="form-select" asp-items="@Model.CategoryList">
                    <option disabled selecte>--Select Category--</option>
                </select>
                <span asp-validation-for="CategoryType.CategoryId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="CategoryType.CatTypeName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="CategoryType.CatTypeName" class="form-control" />
                <span asp-validation-for="CategoryType.CatTypeName" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="CategoryType.CatTypeDesc2" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="CategoryType.CatTypeDesc2" class="form-control" rows="5" />
                <span asp-validation-for="CategoryType.CatTypeDesc2" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="CategoryType.CatTypeDesc3" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="CategoryType.CatTypeDesc3" class="form-control" />
                <span asp-validation-for="CategoryType.CatTypeDesc3" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="CategoryType.CatTypeDesc4" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="CategoryType.CatTypeDesc4" class="form-control" />
                <span asp-validation-for="CategoryType.CatTypeDesc4" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexCategoryType" asp-controller="CategoryType" class="btn-primary btn form-control">Back To List</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Create" class="btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
